# SQLite3

  It is a free, serverless database engine that comes along with the python3 module/package. We can write and execute SQL commands using it

In [3]:
import sqlite3 as sq

In [5]:
connection = sq.connect('example.db')

In [6]:
cursor = connection.cursor()

In [8]:
cursor.execute("""
    Create Table If not exists employees(
               id Integer primary key,
               name Text Not Null,
               age Integer,
               profession Text
        )
""")

connection.commit()

In [18]:
cursor.execute("""
    Insert into employees (name, age, profession) 
    VALUES ('George', 21, 'Data Analyst')
""")

connection.commit()

In [19]:
cursor.execute("""
    Insert into employees (name, age, profession) 
    VALUES ('Lukaz', 23, 'Web developer'),
           ('Andrew', 26, 'Data Scientist')
""")

connection.commit()

In [20]:
cursor.execute("""
    Select * from employees
""")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'George', 21, 'Data Analyst')
(2, 'Lukaz', 23, 'Web developer')
(3, 'Andrew', 26, 'Data Scientist')

In [23]:
data_emp = [
    ('Mathew', 34, 'Mathematician'),
    ('Gregory', 43, 'Researcher'),
    ('Michael', 23, 'Footballer')
]

cursor.executemany("""
       Insert into employees (name, age, profession)
       Values (?,?,?)            
                   
""", data_emp)

connection.commit()

In [24]:
cursor.execute("""
    Select * from employees
""")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'George', 21, 'Data Analyst')
(2, 'Lukaz', 23, 'Web developer')
(3, 'Andrew', 26, 'Data Scientist')
(4, 'Mathew', 34, 'Mathematician')
(5, 'Gregory', 43, 'Researcher')
(6, 'Michael', 23, 'Footballer')