In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sb

In [2]:
data_train = pd.read_csv("../Sources/titanic_train.csv")

In [56]:
data_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,Q

In [4]:
data_train.pop('Cabin')

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [50]:
#Mean Age
f_age = data_train[data_train['Sex'] == 'female'].Age.mean()
m_age = data_train[data_train['Sex'] == 'male'].Age.mean()
avg_age = round(data_train['Age'].mean())
avg_age

30

In [55]:
data_train['Age'] = data_train['Age'].fillna(avg_age).astype(int)
data_train['Embarked'] = data_train['Embarked'].fillna(method='ffill')

C:\Users\hp\AppData\Local\Temp\ipykernel_14708\309606959.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_train['Embarked'] = data_train['Embarked'].fillna(method='ffill')

In [57]:
y = data_train['Survived']
x = data_train[['PassengerId', 'Pclass', 'Age', 'Parch', 'SibSp']]

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
reg = LogisticRegression()